{% extends "layout.html.twig" %}

{% block content %}
    <div id="kontaktContent">
    	<div class="menu_content_header">
    		<span>Kontakt</span>
    	</div>
    </div>
    <div id="menuContent">
    	<div class="flex flex_column menu_kontakt">
    		<span>Tlf: 12345678</span>
    		<span>Adressevej 28, 5000 Odense C</span>
    		<span>Kontakt formular/kort her</span>
    	</div>
    </div>
{% endblock %}