{% extends "layout.html.twig" %}

{% block content %}
<div id="menuContent" class="flex flex_column menu_content">

	<div id="priserHeader">
		<div class="menu_content_header">
			<span>Priser</span>
		</div>
	</div>
	<div id="priserTables">
		<div class="flex flex_row content_custom_price">
			<table>
				<!-- DAME TABLE -->
				<thead>
					<tr>
						<th>Dame</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Behandling</th>
						<th>Pris</th>
					</tr>
					<tr>
						<td>Dameklip</td>
						<td>545,-</td>
					</tr>
					<tr>
						<td>Dameklip inkl. konsultation</td>
						<td>725,-</td>
					</tr>
					<tr>
						<td>Dameklip inkl. spabehandling</td>
						<td>745,-</td>
					</tr>
					<tr>
						<td>Vask og f&oslash;n kort h&aring;r</td>
						<td>350,-</td>
					</tr>
					<tr>
						<td>Ops&aelig;tning</td>
						<td>800,-/Timen</td>
					</tr>
				</tbody>

				<!-- DAME FARVE TABLE -->
				<tbody>
					<tr>
						<th>Farve (i forbindelse med klip)</th>
						<th>Pris</th>
					</tr>
					<tr>
						<td>Farve i bund kort/mellem</td>
						<td>Fra 499,-</td>
					</tr>
					<tr>
						<td>Farve i bund langt/kraftigt</td>
						<td>Fra 599,-</td>
					</tr>
					<tr>
						<td>Farve i kort/mellem</td>
						<td>599,-/749,-</td>
					</tr>
					<tr>
						<td>Farve i langt/ekstra langt</td>
						<td>799,-/849,-</td>
					</tr>
					<tr>
						<td>Farve m. refleks kort/mellem</td>
						<td>899,-/999,-</td>
					</tr>
					<tr>
						<td>Farve m. refleks langt/ekstra langt</td>
						<td>1.299,-/1.399,-</td>
					</tr>
					<tr>
						<td>Balayage/ombre i mellem/langt</td>
						<td>1.149,-/1.449,-</td>
					</tr>
				</tbody>

				<!-- HERRE TABLE -->
				<thead>
					<tr>
						<th>Herre</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Behandling</th>
						<th>Pris</th>
					</tr>
					<tr>
						<td>Herreklip</td>
						<td>399,-</td>
					</tr>
					<tr>
						<td>Maskinklip</td>
						<td>299,-</td>
					</tr>
					<tr>
						<td>Farve</td>
						<td>349,-</td>
					</tr>
					<tr>
						<td>Reflekser</td>
						<td>349,-</td>
					</tr>
					<tr>
						<td>Sk&aelig;gklip med maskine</td>
						<td>99,-</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
{% endblock %}