*{

}

html{
	height: 100%;
}

body{
	height: 100%;
	width: 100%;
	background: #fff;
}

.main{
	height: 100%;
}


.flex{
	display: flex;
}

.flex_row{
	 flex-direction: row;
}

.flex_column{
	 flex-direction: column;
}

.flex_end{
	 justify-content: flex-end;
}

.picture_div{
	height: 100%;
	width: 100%;
}

.head_picture{
	height: 100%;
    width: 100%;
    background: #f9f9f7;
    background-image: url('/web/img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
	
.head_picture > img{
	z-index: 5;	
}	

.welcome{
	color: #e3bebb;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    padding-left: 20px;
    padding-right: 20px;
}

.menu_wrapper{
	width: 100%;	
}

.menu_div{
	height: 55px;
    width: 100%;
    justify-content: space-evenly;
    color: #fff;
    align-items: center;
    flex-direction: row;
    background: #7171717a;
    
}

.menu_div > span{
	font-family: 'Dancing Script', cursive;
    align-items: center;
    font-size: 2vw;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.menu_div > span:hover{
	font-size: 2.2vw;
    background: #efe2e0;
    color: #000;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: 1.5s;
    cursor: pointer;
}

.footer{
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #00000045;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    font-size: 1.5vw;
}

.footer > span{
	align-items: center;
    justify-content: space-evenly;
    display: flex;
}

table{
	width: 90%;
	border: 20px solid transparent;
}

tbody > tr > th{
	color: #000;
    padding: 3px 10px;
    background: #efe2e0;
    font-size: 10px; 
}

tr > td{
	padding: 3px 10px;
	font-size: 10px;
}

tbody{
	background: #00000061;
	color: #fff;
}

thead > tr > th {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.menu_content{
	overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    padding: 10px 10px 10px 100px;
    margin-top: 128px;
    background: #ffffff69;
}

.no_border{
	border: none !important;	
}

.content_wrapper{
	height: calc(100% - 16.8em);  
}

.open_time_wrapper{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    margin: 120px 60px 0px 60px;
}

.open_time_wrapper > div{
    background: #efe2e0;;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    padding: 70px;
    border-radius: 100%;
}

.open_time_header{
	font-family: 'Dancing Script', cursive;
	font-size: 35px;
}

.open_time > div > span{
	width: 100px;
	height: 20px;
}

.menu_content_header{
	height: 57px;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #000;
}

.content_custom_price{
	margin-top: 10px;
    margin-bottom: 20px;    
}

.content_custom_price > div > span{
	height: 25px;
	padding-left: 5px;
	border-top: 1px solid #e7c2bc;
}

.content_custom_price > div:nth-of-type(1){
	font-family: 'Dancing Script', cursive;
	width: 250px;
	font-size: 1.5vw;
	border-bottom: 1px solid #e7c2bc;
	border-left: 1px solid #e7c2bc;
}

.content_custom_price > div:nth-of-type(2){
	width: 400px;
	font-size: 1vw;
	border-bottom: 1px solid #e7c2bc;
	background: #efe2e0d9;
}

.content_custom_price > div:nth-of-type(3){
	width: 150px;
	font-size: 1vw;
	border-bottom: 1px solid #e7c2bc;
	background: #efe2e0d9;
	border-right: 1px solid #e7c2bc;
}

.hidden{
	display: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px #d69d89; 	
  background: #edcfcd; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d69d89;
  box-shadow: inset 0 0 5px #edcfcd;  
}
