<!DOCTYPE html>
<html>
<head>
<title>{% block title '' %} Beautiful hair</title>

<script type="text/javascript"
	src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

<script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

            {% block javascript %}{% endblock %}
        </script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="{{ asset('css/jquery-ui.theme.min.css') }}" rel="stylesheet"
	type="text/css" />
<link href="{{ asset('css/jquery-ui.structure.min.css') }}"
	rel="stylesheet" type="text/css" />
<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"
	type="text/css" />
<link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet"
	type="text/css" />
<link href="{{ asset('css/main.css') }}" rel="stylesheet"
	type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Dancing+Script"
	rel="stylesheet">
<link
	href='//fonts.googleapis.com/css?family=PT+Sans:400,700|Oswald:400,700'
	rel='stylesheet' type='text/css'>
</head>
<body>

	<div class="main">
		<div class="picture_div">
			<div class="flex head_picture flex_column">
				{% block header %}
				<div class="flex flex_row">
					<div class="flex welcome">
						<span>Beautifulhair.com</span>
					</div>
					<div class="flex flex_end menu_wrapper">
						<div class="flex menu_div">
							<span>Tidsbestilling</span> <span>Priser</span> <span>Ansatte</span><span>Kontakt</span>
						</div>
					</div>
				</div>
				{% endblock %}
				<div class="content_wrapper flex flex_row">
					{% block content %}
					{% endblock %}
				</div>
				<footer class="flex footer">
					<span>2018 &copy; Beautifulhair.com</span>
				</footer>
</body>
</html>
